*{
    margin: 0;
    padding: 0;

}
body{
    margin: 0px;

}
.logo{
    width: 10%;
    height: 50px;
    background-color: #fff;
    float: left;
}
.searchbar{
    width: 80%;
    height: 50px;
    background-color: #fff;
    float: left;
}
.notification{
    width: 10%;
    height: 50px;
    background-color: #fff;
    float: left;
}

.logo img{
    width: 100px;
    height: 26px;
    margin-left: 46px;
    margin-top: 12px;
}
.searchbar input{
    width: 536px;
    height: 37px;
    border-radius: 49px;
    margin-left: 300px;
    margin-top: 4px;
    border-color: gray;
    
    float: left;
}
input::placeholder{
    font-size: 16px;
    margin-left: 5px;
}
.searchbar img{
    width: 50px;
    height: 48px;
    margin-left: -48px;
}
.searchbar .mic{
    margin-left: 10px;
}
.searchbar #addicon{
    
    margin-left: 194px;
    width: 121px;
}
.notification .profile{
    width: 121px;
    margin-left: 20px;
    margin-top: 3px;
   float: right;
}
.options{
    margin-left: 230px;
    width: 85%;
    float: left;
    height: 50px;
    background-color: #fff;

}

    
    

.options button{
    margin: 5px;
    margin-top: 10px;
    border-radius: 7px;
    height: 30px;
    border: none;
    background-color: #dfdcdc;
    font-weight: bold;
    padding-left: 22px;
    text-align: center;
    
}
.options button:hover{
    background-color: gray;
}

.sidenav{
    
    display:flex;
    padding: 10px;
    flex-direction: column;
    background: #fff;
    gap: 20px;
    width: 14%;
    height: 2000px;
    float: left;
    
    
}
.icon-box{
    width: 184px;
    text-align: center;
    background-color: #fff;
    height: 29px;
    padding-top: 12px;
    display: flex;
    border-radius: 8px;
    
}
.icon-box img{
    width: 34px;
    height: 27px;
    margin-top: -6px;
}
.icon-box:hover{
    background-color: lightgray;
}
.icon-box p{
    text-align: center;
    margin-left: 25px;
}
.img-box img{
    width: 30px;
    height: 30px;
    border-radius: 25px;
    margin-top: 8px;
    
}
.img-box {
    width: 184px;
    height: 45px;
    display: flex;
    background: #fff;
    text-align: center;
    border-radius: 8px;

}
.img-box:hover{
    background-color: lightgray;
}
.img-box p{
    margin-top: 13px;
    margin-left: 25px;
}
.main-section{
    width: 100%;
    height: 2000px;
    background-color: #fff;
   
}
.main img{
    width: 420px;
    height: 240px;
}
.main p{
    color: var(--yt-spec-text-primary);
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 17px;
    padding-left: 57px;
    display: flex;
    margin-top: -38px;
    
}
.video-icon img{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 22px;
    margin-left: 11px;
}
.main .p1{
    margin-top: 11px;
    font-size: 14px;
    color: #918888;
}
.main{
    float: left;
    margin-left: 8px;
}
.sidenav .p5{
    color:#b2a3a3 ;
}